.eatConfirmation {
    @include grid-row();

    h1 {
        @include grid-column(12);
        text-align: center;
        color: white;
        font-size: 3rem;
        margin-top: 200px;
    }

    button.home {
        @include grid-column(8);
        @include grid-column-offset(2);
        display: block;  
        margin-top: 200px;
        margin-bottom: 30px;
        text-decoration: none;
        background-color: #FFCB47;
        padding: 20px;
        color: white;
        font-weight: bold;
        border-radius: 70px;
        font-size: 3em;
    }
}

.eatConfirmation button.home:last-child:not(:first-child) {
    float: left;
}