.home {
    @include grid-row();

    .buttons {
        @include grid-column(10);
        @include  grid-column-offset(1);
        text-align: center;
        margin-top: 20px;
        // margin-bottom: ;


        a {
            display: block;
            width: 100%;
            text-decoration: none;
            background-color: #FFCB47;
            padding: 10px;
            color: white;
            font-weight: bold;
            border-radius: 70px;
            font-size: 2em;
            margin-top: 30px;
        }

    }
    
}

