.mealDetail {
    @include grid-row();

    h1 {
        @include grid-column(12);
        color: white;
        font-size: 4.5rem;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 0px;
    }

    .subtitle {
        @include grid-column(12);
        text-align: center;
        color: white;
        font-size: 3rem;
        margin-bottom: 30px;

        h3, .recipe {
            display: inline;
            font-weight: 100;
        }

        .recipe {
            color: #4A5043;
        }
    }

    .left, .right {
        @include grid-column(7);
        @include grid-column-offset(1);
        padding: 15px;
        font-size: 2.5rem;
        background-color: #52686C;
        color: white; 
        opacity: .6;   
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .right {
        @include grid-column(3);
        @include grid-column-offset(0);
        border-left: none;
        background-color: white;
        text-align: center;
        color: black;
    }

    #topleft {
        border-top-left-radius: 20px;
    }

    #bottomleft {
        border-bottom-left-radius: 20px;
        border-top: solid;
    }

    #topright {
        border-top-right-radius: 20px;
    }

    #bottomright {
        border-bottom-right-radius: 20px;
        border-top: solid;
        border-top-color: lightgray;
    }

    #map {
        @include grid-column(10);
        @include grid-column-offset(1);
        margin-top: 30px;
        border-radius: 20px;
        height: 550px;
    }

    select {
        border: none;

        optgroup {
            font-size: 1rem;
        }
    }

    button {
        @include grid-column(10);
        @include grid-column-offset(1);
        display: block;  
        text-decoration: none;
        background-color: #FFCB47;
        padding: 20px;
        color: white;
        font-weight: bold;
        border-radius: 70px;
        font-size: 4em;
        margin-top: 40px;
    }
}   

