header {
    @include grid-row();
    background-color: #8BA4A4;
    color: white;
    font-size: .8rem;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mealheader {
        @include grid-column(6);
    }

    .cuisineheader {
        @include grid-column(4);
    }

    .servingsheader, .arrowheader {
        @include grid-column(1);
    }

    .servingsheader {
        padding: 0px;
    }

}

main {

    ul {
        padding: 0px;
        margin-top: 60px;

        li {
            @include grid-row();
            list-style: none;
            margin-top: 10px;
            background-color: white;
            opacity: .7;
            border-radius: 10px;

            .box {
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 10px;
                text-decoration: none;
                color: #364141;
                border: solid;
                border-width: 2px;
                border-color: white;
                
                h2 {
                    font-size: 1.5rem;
                    vertical-align: middle;
                    margin: 0px;
                    padding: 10px;
                }

                .meal {
                    @include grid-column(6);
                }

                .cuisine {
                    @include grid-column(4);
                    font-weight: 100;
                }

                .servings, .arrow {
                    @include grid-column(1);
                }

                .servings {
                    padding: 0px;
                }

                .arrow {
                    background-color: #FFCB47;
                    color: white;
                    // height: 100%;
                    padding: 0px;
                    margin: 0 auto;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    text-align: center;
                    position: relative;
                    left: 12px;
                    bottom: 1px;
                    padding: 10px;

                    .fa {
                        // padding-top: 20px;
                    }
                }
            }
        }
    }
}


