.results {
    @include grid-row();


    header {
        background-color: #FFCB47;
        margin: 0px;
        position: fixed;
        z-index: 1;
        border: solid;
        display: inline;

        .meal {
            @include grid-column(4);

        }

        .cuisine {
            @include grid-column(4);
            @include grid-column-offset(4)
        }

        .servings {
            @include grid-column(3);
            @include grid-column-offset(8)           
        }

        .arrow {
            @include grid-column(1);
            @include grid-column-offset(11)           
        }

    }

}