.orderedMealDetail {
    @include grid-row();

    h1 {
        @include grid-column(12);
        color: white;
        font-size: 2rem;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .subtitle {
        @include grid-column(12);
        text-align: center;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 10px;


        h3, .recipe {
            display: inline;
            font-weight: 100;
        }

        .recipe {
            color: #4A5043;
        }
    }

    .left, .right {
        @include grid-column(7);
        @include grid-column-offset(1);
        padding: 10px;
        font-size: .8rem;
        background-color: #52686C;
        color: white; 
        opacity: .6;   
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .right {
        @include grid-column(3);
        @include grid-column-offset(0);
        border-left: none;
        background-color: white;
        text-align: center;
        color: black;
    }

    #topleft {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #topright {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #map {
        @include grid-column(10);
        @include grid-column-offset(1);
        margin-top: 10px;
        border-radius: 20px;
        height: 200px;
    }


    .address {
        @include grid-row();
        padding: 0px;
        margin-top: 40px;
        opacity: .6;

        & > * {
            @include grid-column(10);
            @include grid-column-offset(1);

            float: left !important;
        }

        h2 {      
            background-color: #52686C;
            margin-bottom: 0px;
            margin-top: 10px;
            color: white;
            text-align: left;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 0px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .contents {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .location {
                width: 100%;
                text-align: center;

                p {
                    display: inline-block;
                    font-size: .8rem;
                    margin: 0px;
                    vertical-align: middle;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    user-info {
        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

    .ratingSubmission {
        opacity: .6;

        & > * {
            @include grid-column(10);
            @include grid-column-offset(1);
            float: left !important;
        }

        h2 {
            background-color: #52686C;
            margin-top: 0px;
            margin-bottom: 0px;
            color: white;
            text-align: left;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 0px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .contents {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: inline-block;
            padding-bottom: 10px;
            // justify-content: space-between;

            p {
                // flex-direction: row;
                width: 100%;
                text-align: center;
                display: inline-block;
                font-size: .8rem;
                margin: 0px;
                vertical-align: middle;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            select {
                // flex-direction: row;
                display: inline-block;
                width: 25%;
                font-size: 2rem;
                margin-left: 20px;
                margin-top: 10px;
            }
            
        }
    }

        button {
        @include grid-column(10);
        @include grid-column-offset(1);
        display: block;  
        text-decoration: none;
        background-color: #FFCB47;
        padding: 10px;
        color: white;
        font-weight: bold;
        border-radius: 70px;
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ratingSubmission:last-child:not(:first-child) {
    float: none;
}