.signupsuccess {
    @include grid-row();

    div {
        @include grid-column(10);
        @include grid-column-offset(1);
        font-size: 1rem;
        color: white;
        text-align: center;
        margin-top: 40px;

        p {
            font-size: 1rem;
            margin-top: 70px;
        }
    }

}
