.start {
    @include grid-row();

    div.logo {
        @include grid-column(12);
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;

        img {
            width: 40%;
        }

        h1 {
            margin: 0px;
            font-size: 8rem;
        }
    }

    div.login {
        @include grid-column(10);
        @include grid-column-offset(1);
        padding: 0px;
        text-align: center;

        div {
            color: white;
            padding-left: 20px;
            margin: 10px;

            .fa {
                margin-right: 10px;
                font-size: 3.2rem;
            }

            .username, .password {
                width: 90%;
                border: none;
                background: transparent;
                margin-top: 20px;
                padding: 20px;
                font-size: 3.2rem;
            }

            ::-webkit-input-placeholder { /* Chrome */
                color: #D3ECEC;
            }

            input, select, textarea{
                color: #D3ECEC;
                padding-left: 50px;
            }

        }

        button {
            display: block;  
            margin-bottom: 30px;    
            text-decoration: none;
            background-color: #FFCB47;
            padding: 20px;
            color: white;
            font-weight: bold;
            border-radius: 70px;
            font-size: 4em;
            margin-top: 50px;
            width: 100%;
        }
    }

    p {
        @include grid-column(12);
        display: block;
        text-align: center;
        color: white;
        font-size: 2.5em;
        position: fixed;
        bottom: 5px;

        a {
            color: #4A5043;
        }
    }
}



