.start {
    @include grid-row();

    div.logo {
        @include grid-column(12);
        color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;

        img {
            width: 150px;
        }

        h1 {
            margin: 0px;
            font-size: 4.5em;
            font-family: 'Handlee', cursive;
        }
    }

    div.login {
        @include grid-column(10);
        @include grid-column-offset(1);
        padding: 0px;
        text-align: center;

        div {
            color: white;
            // padding-left: 20px;
            // margin: 10px;

            .fa {
                // margin-right: 10px;
                font-size: 2rem;
            }

            .username, .password {
                width: 80%;
                border: none;
                background: transparent;
                // margin-top: 20px;
                padding: 20px;
                font-size: 1.5rem;
            }

            ::-webkit-input-placeholder { /* Chrome */
                color: #D3ECEC;
            }

            input, select, textarea{
                color: #D3ECEC;
                padding-left: 50px;
            }

        }

        button {
            display: block;  
            margin-bottom: 30px;    
            text-decoration: none;
            background-color: #FFCB47;
            padding: 10px;
            color: white;
            font-weight: bold;
            border-radius: 70px;
            font-size: 2em;
            margin-top: 20px;
            width: 80%;
        }

        button:last-child:not(:first-child) {
            float: none; 
        }       
    }

    p {
        @include grid-column(12);
        display: block;
        text-align: center;
        color: white;
        font-size: .8em;
        position: fixed;
        bottom: 0px;
        left: 0px
        // margin-top: 15%;/

        a {
            color: #4A5043;
        }

    }



}




//Media Queries 

// @media (min-width: 640px){

//     div.logo {
//         @include grid-column(6);
//         @include grid-column-offset(3);
//     }

//     // div.login {
//     //     @include grid-column(4);
//     //     @include grid-column-offset(4);
//     // }
    
// }