.statusCookEaters {

    .eaters {
        // border: solid;
        margin: 0px;
        padding: 0px;

        p {
            display: inline-block;
            font-size: .8rem;
            margin: 0px;

            .bold {
                font-weight: bolder;
            }
        }
    }



}
