.statusCook {
    @include grid-column(12);
    padding: 0px;

    h2 {
        color: white;
        margin: 0px;
        margin-top: 50px;
        margin-left: 20px;
        font-size: 1.2rem;
    }

    ul {
        padding: 0px;
        margin: 0px;

        li {
            margin-top: 10px;
            margin-left: 10px;
            list-style: none;
            background-color: white;
            opacity: .7;
            padding: 10px;
            border-radius: 20px;
            color: #52686C;

            .mealName {
                font-size: 1.2rem;
                margin: 0px;
            }
        }
    }


}
