.statusCook {

    @include grid-column(6);

    ul {
        background-color: white;

        li {
            list-style: none;
            padding: 0px;

            h2 {
                color: black;
            }
        }
    }

}