.tokencounter {
    text-align: right;

    p.tokens {
        display: inline-block;
        background-color:  #FFCB47;
        color: white;
        font-size: 2em;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        text-align: center;
        line-height: 75px;
        vertical-align: middle;
        font-weight: bolder;
        margin-bottom: 40px;
    }

    p.text {
        display: inline-block;
        color: white;
        font-size: 2em;
        line-height: 75px;
        font-weight: bolder;
        padding-right: 10px;
    }
}