.tokencounter {
    text-align: right;

    p.tokens {
        display: inline-block;
        background-color:  #FFCB47;
        color: white;
        font-size: .9rem;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        vertical-align: middle;
        font-weight: bolder;
        padding-top: 5px;
    }

    p.text {
        display: inline-block;
        color: white;
        font-size: .9rem;
        font-weight: bolder;
    }
}