.user-info {
    @include grid-row();
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .6;

    & > * {
        @include grid-column(10);
        @include grid-column-offset(1);

        float: left !important;
    }

    h2 {
        background-color: #52686C;
        margin-bottom: 0px;
        margin-top: 10px;
        color: white;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .contents {
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        h3 {
            font-size: 1rem;
            margin-top: 5px;
            margin-bottom: 0px;
            // padding: 5px;
            display: inline-block;
            font-weight: 400;
        }

        .rating {
            display: inline-block;
            vertical-align: middle;
            // padding-t: 10px;

        }

        p {
            display: inline-block;
            font-size: .8rem;
            margin-top: 0px;
            margin-left: 10px;
            margin-bottom: 0px;
        }

        .phone {
            margin-top: 0px;
            margin-bottom: 5px;

        }

    }
}