<section class="mealDetail">

    <h1>{{ meal.name }}</h1>

    <div class="subtitle">
        <h3>{{ meal.category }} | </h3>
        <a class="recipe" href={{meal.recipe}}>Recipe</a>
    </div>

    <p class="left" id="topleft">Available Servings</p>
    <p class="right" id="topright">{{ meal.servingCount}}</p>
    <p class="left" id="bottomleft">Available Pickup Time</p>
    <p class="right" id="bottomright">{{meal.availableTime }}</p>

    <div id="map"></div>

    <user-info target="meal.user"></user-info>

    <p class="left" id="topleft">How many servings?</p>
    <p class="right" id="topright">
        <select ng-model="servingAmt" name="servings">
            <optgroup>
            <option value="">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            </optgroup>
        </select></p>
    <p class="left" id="bottomleft">What's your ETA?</p>
    <p class="right" id="bottomright">
        <input type="time" ng-model="eta" data-format="h:mm">
    </p>

    <a ui-sref="eatconfirm"><button ng-click='addOrder()'>Place Order</button></a>


</section>