<section class="results">

<header>
    <h2 class="meal">MEAL</h2>
    <h2 class="cuisine">CUISINE</h2>
    <!--<h2 class="servings">#</h2>
    <h2 class="arrow">></h2>-->
</header>

<main>
   <ul>
        <li class="mealitems" ng-repeat="meal in availableMeals">
            <a ui-sref="mealdetail({mealID:meal.id})">
                <div>
                    <h2 class="meal">{{ meal.name }}</h2>
                    <h2 class="cuisine">{{ meal.category }}</h2>
                    <h2 class="servings">{{ meal.servingCount}}</h2>   
                    <!--<h2 class="arrow">></h2>-->
                </div>
            </a>
        </li>
    </ul>

</main>

</section>