<section class="orderedMealDetail">

    <h1>{{ meal.name }}</h1>

    <div class="subtitle">
        <h3>{{ meal.category }} | </h3>
        <a class="recipe" href={{meal.recipe}}>Recipe</a>
    </div>


    <p class="left" id="topleft">Pickup Time</p>
    <p class="right" id="topright">{{ meal.availableTime}}</p>

    <div id="map"></div>

    <div class="address">

        <h2>Address</h2>

        <div class="contents">
            <div class="location">
                <p>{{ meal.street }}&nbsp&nbsp|&nbsp&nbsp</p>
                <p>{{ meal.city }}&nbsp&nbsp|&nbsp&nbsp</p>
                <p>{{ meal.state }}&nbsp&nbsp|&nbsp&nbsp</p>
                <p>{{ meal.zipcode }}</p>
            </div>
        </div>
    </div>

<user-info target="meal.user"></user-info>

<div class="ratingSubmission">

    <h2>Review</h2>

    <div class="contents">
        <p>How would you rate your meal?</p>
        <select ng-model="rating" name="rating">
            <option value="">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <p>Stars</p>

    </div>

</div>

<a ui-sref="home"><button ng-click='submitRating(); completeOrder(meal.id)'>COMPLETE ORDER</button></a>


</section>

<!--ng-click='completeOrder(meal.id); submitRating()'-->