<section class="signup">

    <h1>Sign Up for an Account</h1>

    <p>Username: <input type="text" ng-model="username" placeholder="Enter Your Email Address"></p>

    <p>Password: <input type="text" ng-model="password" placeholder="Enter Password"></p>

    <p>Confirm Password: <input type="text" ng-model="passwordConfirm" placeholder="Re-Enter Password"></p>

    <p>Contact Phone Number: <input type="text" ng-model="phone" placeholder="Ex: 555-555-5555"></p>

    <button ng-disabled="password != passwordConfirm" ng-click="add()">Submit</button>

    <h2 ng-show="invalid == true">INVALID USERNAME!</h2>

</section>



