<section class="signup">

    <h1>SIGN UP</h1>

    <p>USERNAME / EMAIL</p>
    <input type="text" ng-model="username" placeholder="username@email.com">

    <p>PASSWORD</p>
    <input type="text" ng-model="password" placeholder="**********">

    <p>CONFIRM PASSWORD</p>
    <input type="text" ng-model="passwordConfirm" placeholder="**********">

    <p>PHONE</p>
    <input type="text" ng-model="phone" placeholder="Phone (XXX-XXX-XXXX)"></p>

    <button ng-disabled="password !== passwordConfirm" ng-click="add()">CONFIRM</button>

    <h2 ng-show="invalid == true">INVALID USERNAME!</h2>

</section>



