<section class="start">

    <h1>Start Page</h1>

    <input type="text" class="username" placeholder="Enter Username"></input>
    <input type="text" class="password" placeholder="Enter Password"></input>

    <a ui-sref="home">Log In!</a>
    <!-- right now we've got it set up to route to the home page
when you click "Log In!", ideally need an ng-click event that verifies username/password information 
and ensures that it is correct before you can "move on" to the home page -->

    <p>Don't have an account? <a ui-sref="signup">Register Now!</a>

</section>