<section class="userinfo">

    <h1>CHEF INFO</h1>
    <h3>{{ $ctrl.target.username }} </h1>
        <p class="star-rating">
            <star-rating-comp rating="$ctrl.target.rating" read-only="true"></star-rating-comp>
        </p>
        <!-- wrapped the star-rating in a p-tag and gave it a class in case you want to style it or
        changed where it is positioned, Neilson. -->
        <p> Contact number: {{ $ctrl.target.phone }}</p>
        <p> User Rating: {{ $ctrl.target.rating }}</p>


</section>